
{% load static %}
<link rel="stylesheet" href="{% static 'jewelry/size-chart/shared-styles.css' %}">
<section class="section">
  <div class="header">
    <h2>Professional Shield Cut Diamond Size Chart</h2>
    <div class="subtitle">Size Comparison Tool for Shield Shaped Diamonds From CT to MM / MM to CT</div>
    <div class="subtitle">Shield Cut Diamond Conversion Chart 0.13 - 1.45 ctw</div>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>PAIR AVERAGE TOTAL WEIGHT</th>
          <th>LENGTH MM SIZE</th>
          <th>WIDTH MM SIZE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0.13 - 0.17 ct tw</td>
          <td>3.60 - 4.10 mm</td>
          <td>3.20 - 2.90 mm</td>
        </tr>
        <tr>
          <td>0.18 - 0.22 ct tw</td>
          <td>4.20 - 4.40 mm</td>
          <td>3.60 - 4.00 mm</td>
        </tr>
        <tr>
          <td>0.23 - 0.27 ct tw</td>
          <td>4.30 - 5.10 mm</td>
          <td>3.90 - 4.80 mm</td>
        </tr>
        <tr>
          <td>0.28 - 0.37 ct tw</td>
          <td>4.80 - 5.60 mm</td>
          <td>4.20 - 5.00 mm</td>
        </tr>
        <tr>
          <td>0.38 - 0.47 ct tw</td>
          <td>5.20 - 5.80 mm</td>
          <td>4.80 - 5.30 mm</td>
        </tr>
        <tr>
          <td>0.48 - 0.59 ct tw</td>
          <td>5.40 - 6.00 mm</td>
          <td>5.00 - 5.80 mm</td>
        </tr>
        <tr>
          <td>0.60 - 0.68 ct tw</td>
          <td>5.80 - 6.30 mm</td>
          <td>5.40 - 6.00 mm</td>
        </tr>
        <tr>
          <td>0.70 - 0.78 ct tw</td>
          <td>6.20 - 6.80 mm</td>
          <td>6.10 - 6.80 mm</td>
        </tr>
        <tr>
          <td>0.80 - 0.89 ct tw</td>
          <td>6.70 - 7.40 mm</td>
          <td>6.50 - 7.20 mm</td>
        </tr>
        <tr>
          <td>0.90 - 0.98 ct tw</td>
          <td>7.20 - 7.80 mm</td>
          <td>6.30 - 7.30 mm</td>
        </tr>
        <tr>
          <td>1.00 - 1.10 ct tw</td>
          <td>7.60 - 8.50 mm</td>
          <td>6.70 - 7.60 mm</td>
        </tr>
        <tr>
          <td>1.18 - 1.45 ct tw</td>
          <td>8.00 - 8.90 mm</td>
          <td>7.20 - 8.10 mm</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
